*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main{
    width: 600px;
    margin: 20px auto;
    border: 2px ;
    border-radius: 5px;
    box-shadow: 0 3px 15px black;
}
hr{
    width: 550px;
    position: relative;
    left: 20px;
}
header{
    margin: 20px;
    padding: 1rem;
    text-align: center;
}
header p{
    position: relative;
    top: 15px;
}
.fullname{
    padding: 20px;
}
.email,.password,.experience,.start,.gender{
    padding:0px 20px 20px 20px;
    font-weight: bold;
}
.radio,.checkbox{
    padding:0px 20px 20px 20px;
    
}
.fullname input,.email input,.password input,.experience input,.start input{
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
    width: 100%;
}
button{
    background-color: blue; 
    color: rgb(243, 243, 248);
    border-radius: 5px;
    width: 550px;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 10px;

   
}
button:hover{
    background-color: rgb(51, 73, 186);
}

.radio label,.radio input{

    margin-top: 5px;
    margin-left: 5px;
    
}
.checkbox label,.checkbox input{
    margin-top: 5px;
    margin-left: 5px;
    
    
}
.gender label,.gender input{
   margin-top: 5px;
   margin-left: 5px;
    
    /* padding: 2px; */
}



