body{
    background-color: whitesmoke;
    color:hsl(0, 18%, 13%);
    border: 3px ;
    border-radius: 10px;   
    width: 50%;           /* 1. Define a specific width */
    margin: 20px auto;         /* 2. Set top/bottom to 0, left/right to auto */   
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px lightblue;   
    font-family: 'Times New Roman', Times, serif; 
}
main{
    padding-left: 2rem;
    padding-right:2rem;
}
header{
    background-color: #2563eb;
    text-align: center;
    padding: 10px;
    margin: 30px ;
    border:3px ;
    border-radius: 10px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
    position: relative;
    top: 20px;
}
header p{
   font-size: 1.2rem;
   color: hsl(225, 21%, 89%);
}
hr{
    padding-left: 2rem;
    padding-right:2rem;
}
#aboutme{
    text-align: center;
    border:3px ;
    border-radius: 10px;
    padding: 20px;
    
}
#aboutme p{
    color: hsl(226, 47%, 46%);
    text-indent: 25px;
}
/* #myskills{
    text-align: center;
    border: 3px ;
    border-radius: 10px;
    padding: 20px;
    
} */
section #myskills,#projects,#contact{
    text-align: center;
    border: 3px ;
    border-radius: 10px;
    padding: 20px;
}
::selection{
    background-color: yellow;
}
a{
    text-decoration: none;
}
a:hover{

    color: yellowgreen;
}
footer p{
    text-align: center;
    margin:20px auto;
}
#contact p{
    padding-left:30px;
   
}
ul li{
    color: hsl(226, 47%, 46%);
    list-style-type: square;
    list-style-position: inside;
    display: inline-block;
    /* list-style-image: url("images/coding.png"); */
  
}
ol li{
    color: hsl(226, 47%, 46%);
    display: inline-block;
    list-style-position: inside;
    margin: 5px;
    /* list-style-image: url("images/coding.png"); */
  
}

section:hover{
    box-shadow: 0 5px 15px rgba(19, 1, 1, 0.15);
}

